.FooterMain {
    width: 100%;
    display: flex;
    flex-direction: column; /* <== ADD THIS */
    align-items: center;
    justify-content: center;
    height: 150px; /* increased height a bit for space */
    background-color: #141414;
}

.FooterMain h2 {
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin-top: 10px; /* small gap from icons */
    font-family:'Courier New', Courier, monospace;
}

.FooterIcons {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.FooterIcons a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.FooterIcons a:hover {
    color: #ff0000;
}
