.search-page-container {
    background-color: black;
    min-height: 100vh;
    color: white;
  }
  
  .movie-area {
    background-color: black;
    padding: 40px;
    min-height: 50vh; /* adjust based on design */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .placeholder-message {
    color: gray;
    font-size: 1.2rem;
    text-align: center;
  }
  