/* EmptyBlack.css */
.empty-black {
  background-color: #000;
  min-height: 50vh; /* Fills up space below search bar */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000; /* Subtly visible text */
  font-family: 'Courier New', Courier, monospace;
}